{{#section 'title'}}
About
{{/section}}
<div class="home"><section class="top-section"><div class="about"><h1 class="section-header">
        About Us
      </h1> <p class="first-p">Hello, <br> My name is Glauber Ramos</p> <img src="/_nuxt/img/me.fd7e4ba.jpg" alt="picture of easyretro creator" class="me" loading="lazy"> <div>
    <p>
      I started Easyretro board as a side project back in 2015. I was working
      on a team and we were not very pleased with the current retrospective
      tools at the time. So during one weekend I decided to create my own
      tool and see if I could make it better than the one we were using
      before.
    </p>

    <p>
      I created as an open-source project to help my team to do better
      retrospectives. The board got famous inside the company and then many
      other companies started using it as well.
    </p>
    <p>
      Since that, the board became very popular and now more than
      <span class="number">150,000</span> retrospectives were made in more
      than <span class="number">70</span> countries.
    </p>
    </div> <h2> Mission</h2> <p>
        Our mission is to empower teams to reflect on their way of working. And to continuously become better in what they do.
      </p></div></section></div>