{{#section "title"}}
  About
{{/section}}
<div id="about" class="about_section layout_padding">
  <div class="container">
    <div class="home">
      <section class="top-section">
        <div class="about">
          <h1 class="section-header">
            About Us
          </h1>
          <p class="first-p">
            Hello,
            <br />
            My name is Nguyễn Văn Lâm
          </p>
          <img
            src="/public/images/user/about/me.jpg"
            alt="picture of easyretro creator"
            class="me"
            width="20%"
          />
          <div>
            <p>
              Sinh viên năm 3 đại học khoa học tự nhiên, chuyên ngành kỹ thuật phần mềm!
            </p>
            <p>
              Tui và ông anh khoá trên của mình đang làm đồ án môn Nhập môn công nghệ phần mềm nè ahihi!
            </p>
            <p>
              Since that, the board became very popular and now more than
              <span class="number">
                150,000
              </span>
              retrospectives were made in more
      than
              <span class="number">
                70
              </span>
              countries.
            </p>
          </div>
          <h2>
            Mission
          </h2>
          <p>
            Xạo xạo gì đó ... bla bla xyz abc.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>