{{#section "title"}}
  Contacts
{{/section}}
<div id="about" class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="contact-form">
          <form>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="text" placeholder="Phone Number" />
            <input type="text" placeholder="Type of Service" />
            <textarea placeholder="Message"></textarea>
            <input type="submit" value="SEND" />
          </form>
        </div>
      </div>
      <div class="col-md-5 text_align_center">
        <img
          class="img-responsive"
          src="/public/dist/imgsAdd/man_cartoon.png"
          alt="#"
        />
      </div>
    </div>
  </div>
</div>