{{#section "title"}}
  Contact
{{/section}}
{{#section "css"}}
  <style>
    * {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
.pageCenter {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
}
  </style>
{{/section}}
<div id="about" class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <section class="content">
        <h1 class="section-header">
          <center>
            Amazing features
          </center>
        </h1>
        <div class="line">
          <span>
            <img
              src="/public/images/user/features/line.png"
              style="width:100%"
            />
          </span>
        </div>
        <section class="content">
          <div align="pageCenter 1">
            <table border="0.5" width="100%" height="30%" align="center" style="background-color: #fbdce7;">
              <tr height="70%">
                <td valign="top">
                  <img
                    src="/public/images/user/features/features1.png"
                    alt="logging in"
                    style="width:100%"
                  />
                </td>
                <td valign="center" align="Center">
                  <h2>
                    Different ways of logging in
                  </h2>
                  <p>
                    Login using your email or google account
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="line">
            <span>
              <img
                src="/public/images/user/features/line.png"
                style="width:100%"
              />
            </span>
          </div>
          <div align="pageCenter 2">
            <table border="0" width="100%" height="30%" align="center" style="background-color: #defbfa;">
              <tr height="70%">
                <td valign="center" align="Center">
                  <h2>
                    Create boards
                  </h2>
                  <p>
                    Create private or public boards using more than 100 different pre-defined templates
                  </p>
                </td>
                <td valign="top">
                  <img
                    src="/public/images/user/features/features2.gif"
                    alt="gif of creating a board"
                    style="width:100%"
                  />
                </td>
              </tr>
            </table>
          </div>
          <div class="line">
            <span>
              <img
                src="/public/images/user/features/line.png"
                style="width:100%"
              />
            </span>
          </div>
          <div align="pageCenter 1">
            <table border="0" width="100%" height="50%" align="center" style="background-color: #fbdce7;">
              <tr height="100%">
                <td valign="top">
                  <img
                    src="/public/images/user/features/features3.gif"
                    alt="gif of customizing a board"
                    style="width:100%"
                  />
                </td>
                <td valign="center" align="Center">
                  <h2>
                    Fully customize your board
                  </h2>
                  <p>
                    Add board name and context, create unlimited columns, rename them and change their color
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="line">
            <span>
              <img
                src="/public/images/user/features/line.png"
                style="width:100%"
              />
            </span>
          </div>
          <div align="pageCenter 2">
            <table border="0" width="100%" height="30%" align="center" style="background-color: #defbfa;">
              <tr height="70%">
                <td valign="center" align="Center">
                  <h2>
                    Create teams
                  </h2>
                  <p>
                    Create teams and invite unlimited people to collaborate on boards
                  </p>
                </td>
                <td valign="top">
                  <img
                    src="/public/images/user/features/features4.gif"
                    alt="gif of creating a team"
                    style="width:100%"
                  />
                </td>
              </tr>
            </table>
          </div>
          <div class="line">
            <span>
              <img
                src="/public/images/user/features/line.png"
                style="width:100%"
              />
            </span>
          </div>
          <div align="pageCenter 1">
            <table border="0" width="100%" height="50%" align="center" style="background-color: #fbdce7;">
              <tr height="100%">
                <td valign="top">
                  <img
                    src="/public/images/user/features/features5.gif"
                    alt="see all boards"
                    style="width:100%"
                  />
                </td>
                <td valign="center" align="Center">
                  <h2>
                    See all your boards
                  </h2>
                  <p>
                    Check and filter all your past retros in a simple dashboard
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="line">
            <span>
              <img
                src="/public/images/user/features/line.png"
                style="width:100%"
              />
            </span>
          </div>
          <div align="pageCenter 2">
            <table border="0" width="100%" height="30%" align="center" style="background-color: #defbfa;">
              <tr height="70%">
                <td valign="center" align="Center">
                  <h2>
                    Sort cards
                  </h2>
                  <p>
                    Sort cards by order, created date or number of votes. Also filter cards by text
                  </p>
                </td>
                <td valign="top">
                  <img
                    src="/public/images/user/features/features6.gif"
                    alt="gif of sorting cards"
                    style="width:100%"
                  />
                </td>
              </tr>
            </table>
          </div>
          <div class="line">
            <span>
              <img
                src="/public/images/user/features/line.png"
                style="width:100%"
              />
            </span>
          </div>
          <div align="pageCenter 1">
            <table border="0" width="100%" height="50%" align="center" style="background-color: #fbdce7;">
              <tr height="100%">
                <td valign="top">
                  <img
                    src="/public/images/user/features/features7.gif"
                    alt="gid of adding comments"
                    style="width:100%"
                  />
                </td>
                <td valign="center" align="Center">
                  <h2>
                    Add comments
                  </h2>
                  <p>
                    Allow people to comment on cards
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="line">
            <span>
              <img
                src="/public/images/user/features/line.png"
                style="width:100%"
              />
            </span>
          </div>
          <div align="pageCenter 2">
            <table border="0" width="100%" height="30%" align="center" style="background-color: #defbfa;">
              <tr height="70%">
                <td valign="center" align="Center">
                  <h2>
                    Vote on cards
                  </h2>
                  <p>
                    Vote on cards and set max number of votes per person
                  </p>
                </td>
                <td valign="top">
                  <img
                    src="/public/images/user/features/features8.gif"
                    alt="gif of vote on cards"
                    style="width:100%"
                  />
                </td>
              </tr>
            </table>
          </div>
          <div class="line">
            <span>
              <img
                src="/public/images/user/features/line.png"
                style="width:100%"
              />
            </span>
          </div>
          <div align="pageCenter 1">
            <table border="0" width="100%" height="50%" align="center" style="background-color: #fbdce7;">
              <tr height="100%">
                <td valign="top">
                  <img
                    src="/public/images/user/features/features9.gif"
                    alt="gif of drag and drop cards"
                    style="width:100%"
                  />
                </td>
                <td valign="center" align="Center">
                  <h2>
                    Drag and drop cards
                  </h2>
                  <p>
                    You can drag cards to other columns, drag cards on the same column and merge cards
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="line">
            <span>
              <img
                src="/public/images/user/features/line.png"
                style="width:100%"
              />
            </span>
          </div>
          <div align="pageCenter 2">
            <table border="0" width="100%" height="30%" align="center" style="background-color: #defbfa;">
              <tr height="70%">
                <td valign="center" align="Center">
                  <h2>
                    Export your board
                  </h2>
                  <p>
                    Export your board to the clipboard, PDF or CSV formats
                  </p>
                </td>
                <td valign="top">
                  <img
                    src="/public/images/user/features/features10.gif"
                    alt="gif of export board"
                    style="width:100%"
                  />
                </td>
              </tr>
            </table>
          </div>
          <div class="line">
            <span>
              <img
                src="/public/images/user/features/line.png"
                style="width:100%"
              />
            </span>
          </div>
          <div align="pageCenter 1">
            <table border="0" width="100%" height="50%" align="center" style="background-color: #fbdce7;">
              <tr height="100%">
                <td valign="top">
                  <img
                    src="/public/images/user/features/features11.gif"
                    alt="gif of slack integration"
                    style="width:100%"
                  />
                </td>
                <td valign="center" align="Center">
                  <h2>
                    Slack integration
                  </h2>
                  <p>
                    Show a notification on your team's channel when a board is created
                  </p>
                </td>
              </tr>
            </table>
          </div>
          
        </section>
      </section>
    </div>
  </div>
</div>