{{#section "title"}}
  Contacts
{{/section}}
{{#section "css"}}
  .aaa {
  margin-left: auto;
  margin-right: auto;
  };
{{/section}}
<div id="about" class="about_section layout_padding">
  <div class="container">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h8 class="card-title" style="color: rgb(13, 120, 214);">
                  <b>Two months for free with annual paid plans</b>
                </h8>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table
                  id="example2"
                  class="table table-bordered table-hover"
                  style="border:1px solid black;margin-left:auto;margin-right:auto;text-align: center;"
                >
                  <thead>
                    <tr>
                      <th></th>
                      <th>
                        <span class="tag">
                          Free
                        </span>
                        <span class="price-tag ng-binding">
                          $0
                        </span>
                        <span class="payment-period">
                          per month
                          <span
                            ng-show="toggleYearPlans"
                            class="ng-binding"
                            aria-hidden="false"
                          >
                            <br />
                            $0
                            <br />
                            billed annually
                          </span>
                        </span>
                      </th>
                      <th>
                        <span class="tag">
                          Team
                        </span>
                        <span class="price-tag ng-binding">
                          US$21
                        </span>
                        <span class="payment-period">
                          per month
                          <span
                            ng-show="toggleYearPlans"
                            class="ng-binding"
                            aria-hidden="false"
                          >
                            <br />
                            US$250
                            <br />
                            billed annually
                          </span>
                        </span>
                      </th>
                      <th class="favorite-tier favorite-tier-top">
                        <span class="tag">
                          Business
                        </span>
                        <span class="price-tag ng-binding">
                          US$50
                        </span>
                        <span class="payment-period">
                          per month
                          <span
                            ng-show="toggleYearPlans"
                            class="ng-binding"
                            aria-hidden="false"
                          >
                            <br />
                            US$600
                            <br />
                            billed annually
                          </span>
                        </span>
                      </th>
                      <th>
                        <span class="tag">
                          Enterprise
                        </span>
                        <span class="price-tag ng-binding">
                          US$75
                        </span>
                        <span class="payment-period">
                          per month
                          <span
                            ng-show="toggleYearPlans"
                            class="ng-binding"
                            aria-hidden="false"
                          >
                            <br />
                            US$900
                            <br />
                            billed annually
                          </span>
                        </span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Public boards per month
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        15
                      </td>
                      <td>
                        30
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Number of teams
                      </td>
                      <td>
                        0
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        6
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Unlimited team boards
                      </td>
                      <td>
                        No
                      </td>
                      <td>
                        Yes
                      </td>
                      <td>
                        Yes
                      </td>
                      <td>
                        Yes
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        Unlimited team members
                      </td>
                      <td>
                        No
                      </td>
                      <td>
                        Yes
                      </td>
                      <td>
                        Yes
                      </td>
                      <td>
                        Yes
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th>
                        <button type="button" class="btn btn-block btn-success btn-lg">Start now</button>
                      </th>
                      <th>
                        <button type="button" class="btn btn-block btn-primary btn-lg">Subscribe now</button>
                      </th>
                      <th>
                        <button type="button" class="btn btn-block btn-primary btn-lg">Subscribe now</button>
                      </th>
                      <th>
                        <button type="button" class="btn btn-block btn-primary btn-lg">Subscribe now</button>
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="subscription-bottom pricing-bottom">
            <span>
              For more teams please
              <a id="launch_intercom">
                contact us
              </a>
            </span>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>